<a href="https://colab.research.google.com/github/Anjali-Saravanan/Logistic-Regression/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import load_dataset # this method will help us to #download the Titanic dataset
%matplotlib inline

In [ ]:
#load the dataset
data = load_dataset("titanic")
data

In [ ]:
#get the information about the dataset
data.info()

In [51]:
#we are going to drop the features present in the columns list
columns = ['alive', 'alone', 'embark_town', 'who', 'adult_male', 'deck']
data_2 = data.drop(columns, axis=1)

In [ ]:
#information about our new dataset after deleting
data_2.describe(include='all').T

In [ ]:
#taking the minimum and maximum values in the age attribute
print(f"Max value of age column : {data_2['age'].max()}")
print(f"Min value of age column : {data_2['age'].min()}")

In [54]:
#We can categorize age column with values between 0 and 80
bins = [0, 5, 17, 25, 50, 80]
labels = ['Infant', 'Kid', 'Young', 'Adult', 'Old']
data_2['age'] = pd.cut(data_2['age'], bins = bins, labels=labels)

In [ ]:
#Pandas ‘cut’ method will let us make our own categorization.
pd.DataFrame(data_2['age'].value_counts())

In [ ]:
#taking the age column as it has null values
data_2['age'].mode()[0]

In [ ]:
#We can fill null values with mode of this column
data_4 = data_2.fillna({'age' : data_2['age'].mode()[0]})
data_4

In [ ]:
#taking embarked column for filling null values
data_2['embarked'].unique()

In [ ]:
print(f"How many 'S' on embarked column : {data_2[data_2['embarked'] == 'S'].shape[0]}")
print(f"How many 'C' on embarked column : {data_2[data_2['embarked'] == 'C'].shape[0]}")
print(f"How many 'Q' on embarked column : {data_2[data_2['embarked'] == 'Q'].shape[0]}")

In [ ]:
data_3 = data_2.fillna({'embarked' : 'S'})
data_4[['pclass', 'survived']].groupby(['pclass']).sum().sort_values(by='survived')

In [ ]:
data_4[['sex', 'survived']].groupby(['sex']).sum().sort_values(by='survived')

In [38]:
bins = [-1, 7.9104, 14.4542, 31, 512.330]
labels = ['low', 'medium-low', 'medium', 'high']
data_4['fare'] = pd.cut(data_4["fare"], bins = bins, labels = labels)

In [ ]:
#final version of our dataset
data_5 = data_4.drop('class', axis=1)
sns.distplot(data_5['survived'])

In [64]:
dummies = ['fare', 'age', 'embarked', 'sex']
dummy_data = pd.get_dummies(data_5[dummies])

In [ ]:
dummy_data.shape

In [63]:
#concat two dataframes and remove the old columns
data_6 = pd.concat([data_5, dummy_data], axis = 1)
data_6.drop(dummies, axis=1, inplace=True)

In [65]:
#begin to build the model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [66]:
# X contains independent values, y contains dependent value
X = data_6.drop('survived', axis = 1)
y = data_6['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 0)

In [ ]:
#getting predicted values
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
y_pred = log_reg.predict(X_test)
y_pred

In [ ]:
#accuracy of our model
accuracy_score(y_pred, y_test)